<div class="wrapper">
  <mat-card *ngIf="person">
    <mat-card-title class="title">Person</mat-card-title>
    <mat-divider></mat-divider>
    <mat-card-content class="card-content">
      <p>Name: {{ person.name ?? '' }}</p>
      <p>Mass: {{ person.mass ?? '' }}</p>
    </mat-card-content>
  </mat-card>
  <mat-card *ngIf="starship">
    <mat-card-title class="title">Starship</mat-card-title>
    <mat-divider></mat-divider>
    <mat-card-content class="card-content">
      <p>Name: {{ starship.name ?? '' }}</p>
      <p>Mass: {{ starship.crew ?? '' }}</p>
    </mat-card-content>
  </mat-card>
</div>

<app-score-board class="score" [person]="person" [starship]="starship"></app-score-board>
<div class="button">
  <button mat-button color="warn" (click)="pickRandomElement()">{{ person || starship ? 'Next Round' : 'Start Game' }}</button>
</div>
