<mat-card *ngIf="person">
  <mat-card-title>Player 1 - Person</mat-card-title>
  <mat-card-content>
    <p>Name: {{ person.name ?? '' }}</p>
    <p>Mass: {{ person.mass ?? '' }}</p>
  </mat-card-content>
</mat-card>
<mat-card *ngIf="starship">
  <mat-card-title>Player 2 - Starship</mat-card-title>
  <mat-card-content>
    <p>Name: {{ starship.name ?? '' }}</p>
    <p>Mass: {{ starship.crew ?? '' }}</p>
  </mat-card-content>
</mat-card>

<app-score-board [person]="person" [starship]="starship"></app-score-board>

<button mat-button color="warn" (click)="pickRandomElement()">GAME</button>
